- title "Find a Home"
.title 
  Find a Home
  .instructions (All fields are optional)
  %br
  &nbsp;
- form_tag listings_path, :method => 'get' do
  .float_right.padding_right
    =image_tag "find_a_home_big.jpg", :width => "500px"
  %p
    = label_tag :price
    %br
    = text_field_tag :min_price, nil, :style => "width:65px;"
    \-
    = text_field_tag :max_price, nil, :style => "width:65px;"
  %p
    = label_tag :city
    %br
    = text_field_tag :city
  %p
    = label_tag :state
    %br
    = text_field_tag :state
  %p
    = label_tag :zip
    %br
    = text_field_tag :zip
  %p
    = label_tag :county
    %br
    = text_field_tag :county
  %p
    = label_tag :bedrooms
    %br
    = text_field_tag :bedrooms
  %p
    = label_tag :bathrooms
    %br
    = text_field_tag :bathrooms
  
  %p
    = hidden_field_tag :search, true
    = submit_tag "Submit"