- title "Listings"
     
- for listing in @listings
  .padding_bottom
    - if listing.primary_photo.nil?
      .dropshadow_small.float_left= link_to(image_tag("/photos/small/missing.png"), listing)
    - else
      .dropshadow_small.float_left= link_to(image_tag(listing.primary_photo.photo.url(:small)), listing)
    - if admin?
      .float_right
        = link_to 'Schedule Event', new_event_path(:listing_id => listing)
        = link_to 'Edit', edit_listing_path(listing)
        = link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete
    %table{:cellspacing => 5}
      %tr
        %td{:colspan => 2}= link_to listing.title, listing
      %tr
        %td
          List Price:
        %td= h number_to_currency(listing.price)
      %tr
        %td
          Location:
        %td
          = h listing.city
          ,&nbsp;
          = h listing.state
      %tr
        %td
          Bed/Bath:
        %td
          = h listing.bedrooms
          bedrooms
          = h listing.bathrooms
          bathrooms
    .clear
- if admin?
  %p
    = link_to "New Listing", new_listing_path
    &nbsp;
    - if params[:all] == "true"
      = link_to "Only show listings displayed to public", listings_path
      &nbsp;
      = link_to "Only show featured listings", listings_path(:featured => true)
    - elsif params[:featured] == "true"
      = link_to "Show All", listings_path(:all => true)
      &nbsp;
      = link_to "Only show listings displayed to public", listings_path
    - else
      = link_to "Show All", listings_path(:all => true)
      &nbsp;
      = link_to "Only show featured listings", listings_path(:featured => true)

.clear