- title "Listing"

%div
  =link_to(image_tag("icon_contact.jpg"), new_email_path(:email_type => "agent", :listing_id => @listing.id))
  =link_to(image_tag("icon_tell_a_friend.jpg"), new_email_path(:email_type => "friend", :listing_id => @listing.id))
  =link_to(image_tag("icon_view_map.jpg"), "http://maps.google.com/?q=#{@listing.address}+#{@listing.city}+#{@listing.state}+#{@listing.zip}", :target => "new")
  =link_to(image_tag("icon_mortgage_calculator.jpg"), page_permalink_path("mortgage_calculator"), :target => "new")
  =link_to(image_tag("icon_print.jpg"), listing_path(@listing, :print => true), :target => "new")

- unless @listing.photos.empty?
  %div.photo_viewer.float_right
    %div
      .dropshadow_large
        = image_tag(params[:photo] || @listing.photos.first.photo.url(:medium), :id => "medium_photo")
    - @listing.photos.each do |p|
      .dropshadow_small.margin_bottom.inline
        = link_to(image_tag(p.photo.url(:small), :class => "thumbnail"), listing_path(@listing, :photo => p.photo.url(:medium)), :class => "thumbnail" )
        
    %div.clear

%div.title=h @listing.title
- unless @listing.price.blank?
  %p
    %strong List Price:
    = h number_to_currency(@listing.price)
- unless @listing.city.blank? && @listing.state.blank?
  %p
    %strong Location:
    = h @listing.city
    ,&nbsp;
    = h @listing.state
- unless @listing.bedrooms.blank?
  %p
    %strong Bedrooms:
    =h @listing.bedrooms
- unless @listing.bathrooms.blank?
  %p
    %strong Bathrooms:
    =h @listing.bathrooms
- unless @listing.description.blank?
  %p
    %strong Description:
    =h @listing.description
- unless @listing.zip.blank?
  %p
    %strong Zip:
    =h @listing.zip
- unless @listing.county.blank?
  %p
    %strong County:
    =h @listing.county
- unless @listing.property_taxes.blank?
  %p
    %strong Property Taxes:
    =h @listing.property_taxes
- unless @listing.frontage.blank?
  %p
    %strong Frontage:
    =h @listing.frontage
- unless @listing.depth.blank?
  %p
    %strong Depth:
    =h @listing.depth
- unless @listing.lot_area.blank?
  %p
    %strong Lot Area:
    =h @listing.lot_area
- unless @listing.finished_area.blank?
  %p
    %strong Finished Area:
    =h @listing.finished_area
- unless @listing.year_built.blank?
  %p
    %strong Year Built:
    =h @listing.year_built
- unless @listing.furnished.blank?
  %p
    %strong Furnished:
    =h @listing.furnished
- unless @listing.garage.blank?
  %p
    %strong Garage:
    =h @listing.garage
- unless @listing.basement.blank?
  %p
    %strong Basement:
    =h @listing.basement
- unless @listing.space_details.blank?
  %p
    %strong Space Details:
    =h @listing.space_details
- unless @listing.construction_details.blank?
  %p
    %strong Construction Details:
    =h @listing.construction_details
- unless @listing.features.blank?
  %p
    %strong Features:
    =h @listing.features

- if authenticated?
  %p
    = link_to "Edit", edit_listing_path(@listing)
    |
    = link_to "Destroy", @listing, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", listings_path
