- title @article.title
%div{:style => "background: url(#{APP_CONFIG[:domain]}/images/#{@article.background_image}) no-repeat right;height:200px;padding-right:290px;"}
  = @article.content

- if admin?
  %p
    = link_to "Edit", edit_article_path(@article)
    |
    = link_to "Destroy", @article, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", articles_path
