- form_for @flyer, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.submit "Submit"
