- title "Agents"

%table
  %tr
    %th First name
    %th Last name
    %th Phone
    %th Tollfree
    %th Email
    %th Permalink
  - for agent in @agents
    %tr
      %td= h agent.first_name
      %td= h agent.last_name
      %td= h agent.phone
      %td= h agent.tollfree
      %td= h agent.email
      %td= h agent.permalink
      %td= link_to 'Show', agent
      %td= link_to 'Edit', edit_agent_path(agent)
      %td= link_to 'Destroy', agent, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Agent", new_agent_path
