- title "Agent"

%div.dropshadow_agent
  = image_tag(@agent.photo.url)
%div
  =h @agent.first_name
  =h @agent.last_name
%div
  =h @agent.address1
  %br
  - unless @agent.address2.blank?
    =h @agent.address2
    %br
  =h @agent.city
  =h @agent.state
  =h @agent.zip
%div
  =link_to(image_tag("icon_view_map.jpg"), "http://maps.google.com/?q=#{@agent.address1}+#{@agent.city}+#{@agent.state}+#{@agent.zip}", :target => "new")
%div
  %strong Phone:
  =h @agent.phone
%div
  %strong Fax:
  =h @agent.fax
- unless @agent.tollfree.blank?
  %div
    %strong Tollfree:
    =h @agent.tollfree
%div
  %strong Email:
  =h @agent.email
%div.clear.padding_bottom
  = simple_format @agent.description
  
%div
  = render "emails/agent"

- if authenticated?
  %div
    = link_to "Edit", edit_agent_path(@agent)
    |
    = link_to "Destroy", @agent, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", agents_path
