="<div id='feature#{featured_counter + 1}' class='#{"hidden " if featured_counter > 0}feature'>"
#cycle_feature
  =featured.title
  %br
  - unless featured.bedrooms.blank? || featured.bathrooms.blank?
    =featured.bedrooms
    Bedroom, 
    =featured.bathrooms
    Bath
    %br
  - unless featured.city.blank? || featured.state.blank?
    =featured.city
    , 
    =featured.state
.dropshadow_small=link_to(image_tag(featured.primary_photo.photo.url(:small)), featured)
.align_right
  = link_to_function "Next", "propertyCycle.next(#{featured_counter + 1})"
  &nbsp;
  = link_to "View All", listings_url
="</div>"