- title "Home"
- stylesheet('home')
- javascript('jquery')
- javascript('home')

#featured
  .title.padding Featured Properties:
  %br
  #cycle_featured
    = render :partial => 'featured', :collection => @featured
  
#flashy_buttons
  = link_to(image_tag("../images/find_a_home.jpg"), search_path)
  = link_to(image_tag("../images/search_for_open.jpg"), events_url)

#news
  #cycle_news
    = render :partial => 'news', :collection => @articles
  
#tag
  .title= @agent.tag_headline
  =simple_format(@agent.tag)

#flyers
  #cycle_flyers
    = render :partial => 'flyers', :collection => @flyers
  
.clear