- form_for @photo, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :listing_id
    %br
    = f.collection_select :listing_id, Listing.all, :id, :title
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = image_tag @photo.photo.url(:medium)
  %p
    = f.submit "Submit"
