!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'mortgage_calculator_helper'
    = javascript :defaults
    <script>jQuery.noConflict();</script>
    = yield(:head)
  
  %body
    #site
      #container
        #header
          #agent
            = image_tag(@agent.photo.url(:small), :class => "border float_right") 
            =h @agent.first_name
            =h @agent.last_name
            %br
            =h @agent.address1
            %br
            - unless @agent.address2.blank?
              =h @agent.address2
              %br
            =h @agent.city
            =h @agent.state
            =h @agent.zip
            %br
            Phone:
            =h @agent.phone
            %br
            Fax:
            =h @agent.fax
          - unless @agent.tollfree.blank?
            %br
              %strong Tollfree:
              =h @agent.tollfree     
        
        #menu
          %div= link_to "Home", page_permalink_path("home")
          %div= link_to "Listings", listings_url
          - if authenticated?
            %div= link_to "Agents", agents_url
            %div= link_to "Leads", leads_url
            %div= link_to "Pages", pages_url
            %div= link_to "Emails", emails_url
          - else
            %div= link_to "Admin", leads_url
        
          - @pages = Page.find(:all).each do |page|
            %div=link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home"
          
        #main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          = yield
        
        #footer
          &nbsp;