!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript :jquery, :application
    = yield(:head)
  
  %body
    #site
      #header
        =image_tag("/images/logo.png")

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      #container
        #sidebar
          .menu=link_to "HOME", page_permalink_path("home")
          .menu=link_to "Listings", listings_url
        
          - @pages = Page.find(:all).each do |page|
            %div.menu=link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home"
          
        #main
          = yield
        
        #container_footer
        
      #footer
        = link_to "Admin", new_listing_url