!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'mortgage_calculator_helper'
    = javascript :defaults, :tooltip
    <script>jQuery.noConflict();</script>
    = yield(:head)
  
  %body
    #site
      #container
        #header
          #agent
            = link_to(image_tag(@agent.photo.url(:small), :class => "border float_right"), @agent)
            =h @agent.first_name
            =h @agent.last_name
            %br
            =h @agent.address1
            %br
            - unless @agent.address2.blank?
              =h @agent.address2
              %br
            =h @agent.city
            =h @agent.state
            =h @agent.zip
            %br
            Phone:
            =h @agent.phone
            %br
            Fax:
            =h @agent.fax
            - unless @agent.tollfree.blank?
              %br
                %strong Tollfree:
                =h @agent.tollfree
            - if logged_in?
              .float_left.padding_top.padding_left
                Welcome
                = current_account.username
              
                  
        %ul#nav
          %li.top= link_to "Home", page_permalink_path("home")
          %li.top= link_to "View Listings", listings_url
          %li.top
            = link_to "Services", "javascript:void(0);"
            %ul
              %li= link_to "Buyer and Seller Report", new_email_path(:email_type => "report")
              %li= link_to "What's your home worth?", new_email_path(:email_type => "home_worth")
              %li= link_to "File Manager", documents_url
              - @pages = Page.all.each do |page|
                %li= link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home"
          %li.top
            - if logged_in?
              = link_to "Log out", logout_path
            - else
              = link_to "log in", login_path
              %ul
                %li= link_to "Sign up", signup_path
          %li.top.last= link_to "Find a Home", search_path
            
        #main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          = yield
        
        #footer
          - if admin?
            = link_to "Agents", agents_url
            = link_to "Leads", leads_url
            = link_to "Pages", pages_url
            = link_to "News", articles_url
            = link_to "Emails", emails_url
            